:root {
  --primary-background: rgb(236, 235, 235);
  --font-family: "Quicksand", sans-serif;
  --secondary-color: rgb(53, 52, 52);
  --primary-color: rgb(26, 25, 25);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family);
  color: var(--primary-color);
}

.hero {
  text-align: center;

  background: var(--primary-background);
}
.hero h1 {
  font-size: 65px;
  font-weight: 800;
}
.hero h2 {
  font-size: 28px;
}
.hero p {
  font-size: 20px;
  padding-top: 100px;
  color: var(--secondary-color);
}

.contact-button {
  margin: 60px 10px;
}

.image {
  max-width: 70%;
}
.project-body {
  margin: 80px auto;
}

.footer {
  text-align: center;
  background: var(--primary-background);
  margin-top: 50px;
  padding: 50px 50px;
}
.logo {
  font-size: 45px;
  padding: 10px 30px;
  color: var(--primary-color);
}

.about {
  text-align: left;
}
.about h1 {
  font-size: 48px;
  font-weight: 600;
}
.about h2 {
  font-size: 23px;
}
.about h3 {
  font-size: 20px;
  padding-top: 50px;
  color: var(--secondary-color);
}
.about p {
  font-size: 20px;
}
.portrait {
  max-width: 80%;
  border-radius: 10px;
}
.icon {
  font-size: 55px;
  color: var(--primary-color);
}
